.write-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.write-list h3 {
  color: var(--sub-color);
  font-size: 25px;
}

.write-list input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.write-list input:focus {
  outline: none;
}

.save-btn {
  background: var(--sub-color);
}
